.title {
  font: var(--font-heading);
}
.tasksContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}
.noTasksMessage {
  font: var(--font-body);
  color: var(--color-text-secondary);
}
.tasks {
  margin-top: 3rem;
}
